# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
.nyc_output
/coverage

# next.js
/.next/
/out/

# production
/build
/buildS2
/buildS2-dev
/buildS2-local
/buildS2-flat
/dist
/dist-types

#s2
/s2/**/*.js
/pages/**/*.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# typedoc
/docs/

# zig
zig-cache/

# Large Files
public/glyphs/GLYPHS_V2.sqlite

# sql metadata
*.sqlite-shm
*.sqlite-wal
*.sqlite3-shm
*.sqlite3-wal

# playwright
playwright-report/
playwright-backup/
.eslintrc-auto-import.json
test-results/
blob-report/
playwright/.cache/

# experiment data
public/geojson/utah.geojson

# lints
.eslintcache
