# Ignore all files and directories
/*

# Include README.md
!README.md

# Include dist-types directory
!dist-types/

# Exclude all contents of dist folder except plugins
!/dist/

# playwright
playwright-report/
playwright-backup/
.eslintrc-auto-import.json
test-results/
blob-report/
playwright/.cache/
