.Card {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  left: 16px;
  top: 100px;
  width: 375px;
  min-height: 100px;
  max-height: calc(100vh - 270px);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 28%);
  color: #52535d;
}

.Card a:link {
  text-decoration: none!important;
  color: #007fff;
}
.Card a:hover {
  text-decoration: underline!important;
  color: #007fff;
}
.Card a:active {
  text-decoration: underline!important;
  color: #007fff;
}
.Card a:visited {
  text-decoration: none!important;
  color: #007fff;
}

.close-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-bottom-left-radius: 10px;
}
.close-container:hover {
  background-color: #cc0202;
  cursor: pointer;
}

.close {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
}
.close::after,
.close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
.close::after {
  transform: rotate(-45deg)
}
.close-container:hover .close {
  color: #fff;
}

.skeleton-container {
  margin: 25px
}

.header {
  height: 45px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.skeleton-container .line::before,
.header::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}
.skeleton-container .line {
  background: #d9d9d9;
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.skeleton-container .line-1 {
  width: calc(100% - 15%);
}
.skeleton-container .line-3 {
  width: calc(100% - 40%);
}

@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

.card-body {
  max-height: calc(100vh - 270px);
  overflow-y: scroll;
  padding: 0 16px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.card-item {
  font-size: 15.5px;
  line-height: 23px;
  padding: 12px;
  padding-bottom: 7px;
}

.card-item-no-padding {
  padding: 0 12px;
}

.card-item-title {
  font-weight: bold;
  font-size: 29px;
  line-height: 30px;
}

.card-phone {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.card-footer-container {
  position: relative;
}

.card-footer {
  padding: 0;
  margin: 0;
  background-color: #007fff;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #fff !important;
  font-weight: 500;
}

@media only screen and (max-width: 750px) {
  .Card {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: auto;
    width: 100%;
    min-height: 100px;
    max-height: 50vh;
    border-radius: 0px;
  }
}
