body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: fixed;
  text-align: center;
  color: #efefef;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map-container {
  width: 100vw;
  height: 100vh;
}

.s2-canvas-container {
  position: relative;
  height: inherit;
  width: inherit;
}

.s2-nav-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  bottom: 15px;
  right: 15px;
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
  border-radius: 8px;
}

.s2-nav-dark {
  background-color: #adadad;
}

.s2-zoom-button {
  width: 29px;
  height: 29px;
  border-radius: 7px;
  background-color: inherit;
  border: none;
  outline: none;
  transition: background-color 0.27s ease-out;
  background-repeat: no-repeat;
  pointer-events: all;
  cursor: pointer;
}
.s2-zoom-button:hover {
  background-color: #e6eaed;
}

.s2-zoom-plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-image: url('s2/svg/zoom-plus.svg');
}

.s2-zoom-minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-image: url('s2/svg/zoom-minus.svg');
}

.s2-nav-sep {
  height: 18px;
  border-left: 1px solid #ddd;
}

.s2-nav-sep-dark {
  height: 18px;
  border-left: 1px solid #666;
}

.s2-jolly-roger {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 111.2px;
  height: 40.4px;
  background-repeat: no-repeat;
  margin: 0 0 0 12.5px;
  pointer-events: none;
  background-image: url('s2/svg/s2-jolly-roger.svg');
}

.s2-jolly-roger-dark {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 111.2px;
  height: 40.4px;
  background-repeat: no-repeat;
  margin: 0 0 0 12.5px;
  pointer-events: none;
  background-image: url('s2/svg/s2-jolly-roger-dark.svg');
}

.s2-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: inherit;
  width: inherit;
  outline: none;
}

/* HOME STYLING */
.banner {
  width: 100vw;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.navigation-container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link-container {
  position: relative;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12.5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  transition: box-shadow .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}
.link-container:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
/* .link-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12.5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.link-container:hover::after {
  opacity: 1;
} */


a:link {
  text-decoration: none!important;
  color: #707070;
}
a:hover {
  text-decoration: none!important;
  color: #707070;
}
a:active {
  text-decoration: none!important;
  color: #707070;
}
a:visited {
  text-decoration: none!important;
  color: #707070;
}

.link-name {
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.link-video {
  width: 640px;
}

.warning-container {
  text-align: center;
  font-size: 18px;
  padding: 0px 20px;
  padding-top: 65px;
}

.warn {
  padding: 5px 0px;
}

.warn-img {
  font-weight: 400;
  font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}

#s2-logo {
  width: 500px;
}

@media only screen and (max-width: 700px) {
  .banner {
    height: 250px;
  }

  #s2-logo {
    width: 275px;
  }
}

@media only screen and (max-width: 650px) {
  .s2-jolly-roger {
    width: 74.13px;
    height: 26.93px;
  }
}
