#rasterDropdownContainer {
  position: absolute;
  padding: 6px 10px;
  right: 15px;
  top: 15px;
  border-radius: 5px;
  background-color: #ededed;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#rasterDropdown {
  padding: 9px;
}

#rasterDropdownContent div {
  padding: 9px 9px;
  textDecoration: none;
  border-radius: 5px;
}

.rasterDrop:hover {
  background-color: #acb2b8;
}

.rasterGray {
  color: #555a5e;
}
