.s2-map {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.s2-canvas-container {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s2-nav-container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  bottom: 15px;
  right: 15px;
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.35);
  border-radius: 7px;
  overflow: hidden;
}

.s2-nav-dark {
  background-color: #adadad;
}

.s2-control-button {
  position: relative;
  width: 29px;
  height: 29px;
  background-color: inherit;
  border: none;
  outline: none;
  transition: background-color 0.27s ease-out;
  background-repeat: no-repeat;
  pointer-events: all;
  cursor: pointer;
}
.s2-control-button:hover {
  background-color: #e6eaed;
}

.s2-colorblind-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#s2-colorblind-default {
  background-image: url('/s2/svg/color-blind.svg');
}
#s2-colorblind-proto {
  background-image: url('/s2/svg/protanopia.svg');
}
#s2-colorblind-deut {
  background-image: url('/s2/svg/deutranopia.svg');
}
#s2-colorblind-trit {
  background-image: url('/s2/svg/tritanopia.svg');
}
#s2-colorblind-grey {
  background-image: url('/s2/svg/greyscale.svg');
}

.s2-compass {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) rotate(0deg);
  background-image: url('/s2/svg/compass.svg');
}

.s2-zoom-plus {
  transform: scale(1.15);
  background-image: url('/s2/svg/zoom-plus.svg');
}

.s2-zoom-minus {
  transform: scale(1.15);
  background-image: url('/s2/svg/zoom-minus.svg');
}

.s2-nav-sep {
  height: 18px;
  border-left: 1px solid #ccc;
  z-index: 300;
}

.s2-nav-sep-dark {
  height: 18px;
  border-left: 1px solid #666;
  z-index: 300;
}

#s2-attribution {
  z-index: 3000;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #515151;
}

#s2-info {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('/s2/svg/info.svg');
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 35%);
  z-index: 20;
}

.s2-info {
  background: #ededed;
  z-index: 20;
}
.s2-info:hover {
  background: #fff;
}
.s2-info:active {
  background: #fff;
}

#s2-attribution.show .s2-info {
  box-shadow: none;
  background: #d3e1f0;
  border-radius: 20%;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  background-image: url('/s2/svg/info.svg');
}

.s2-info-dark {
  background: #adadad;
}
.s2-info-dark:hover {
  background: #ededed;
}
.s2-info-dark:active {
  background: #ededed;
}

.s2-popup-container {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 6px;
  width: 200px;
  height: auto;
  background-color: #fff;
  overflow: hidden;
  font-size: 16px;
  padding: 10px 0;
  padding-bottom: 25px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 35%);
  z-index: 10;
}

.s2-popup-container a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.s2-popup-container a:hover {
  color: #515151;
  cursor: pointer;
}

.s2-jolly-roger {
  width: 111.2px;
  height: 42px;
  background-repeat: no-repeat;
  margin: 0 0 0 12.5px;
  pointer-events: none;
  background-image: url('/s2/svg/s2-jolly-roger.svg');
  background-position: center center;
}

#s2-attribution .s2-popup-container {
  visibility: hidden;
}

#s2-attribution.show .s2-popup-container {
  visibility: visible;
}

#s2-attr {
  font-weight: bold;
}

.s2-popup-container div {
  margin: 5px 0;
}

.s2-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: inherit;
  width: inherit;
  outline: none;
}

#s2-logo {
  width: 500px;
}

@media only screen and (max-width: 700px) {
  .banner {
    height: 250px;
  }

  #s2-logo {
    width: 275px;
  }
}

@media only screen and (max-width: 650px) {
  .s2-jolly-roger {
    width: 74.13px;
    height: 26.93px;
  }
}

/** INFO **/

#s2-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  left: 16px;
  top: 16px;
  width: 425px;
  min-height: 100px;
  max-height: calc(100vh - 64px);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 28%);
  color: #52535d;
}

#s2-card a:link {
  text-decoration: none!important;
  color: #007fff;
}
#s2-card a:hover {
  text-decoration: underline!important;
  color: #007fff;
}
#s2-card a:active {
  text-decoration: underline!important;
  color: #007fff;
}
#s2-card a:visited {
  text-decoration: none!important;
  color: #007fff;
}

#s2-card-close-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-bottom-left-radius: 10px;
}
#s2-card-close-container:hover {
  background-color: #cc0202;
  cursor: pointer;
}

#s2-card-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
}
#s2-card-close::after,
#s2-card-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
#s2-card-close::after {
  transform: rotate(-45deg)
}
#s2-card-close-container:hover #s2-card-close {
  color: #fff;
}

#s2-skeleton {
  margin-top: 10px;
  margin-bottom: 5px;
}

.s2-skel-container {
  margin: 25px
}

.s2-skel-header {
  height: 45px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.s2-skel-container .s2-skel-line::before,
.s2-skel-header::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}
.s2-skel-container .s2-skel-line {
  background: #d9d9d9;
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.s2-skel-container .s2-skel-line-1 {
  width: calc(100% - 15%);
}
.s2-skel-container .s2-skel-line-3 {
  width: calc(100% - 40%);
}

@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

#s2-card-body {
  max-height: calc(100vh - 64px);
  overflow-y: scroll;
  padding: 0 16px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: left;
}

.s2-card-item {
  font-size: 15.5px;
  line-height: 23px;
  padding: 7px 12px;
  padding-bottom: 7px;
}

.s2-card-item p {
  margin: 0;
}

.s2-card-item-flex {
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
}

.s2-card-item-no-padding {
  padding: 0 12px;
}

.s2-card-item-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 28px;
}

.s2-card-item-key {
  font-family: -apple-system, BlinkMacSystemFont, "RobotoMedium";
  padding-right: 10px;
}

.s2-card-phone {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.s2-card-footer-container {
  position: relative;
}

.s2-card-footer {
  padding: 0;
  margin: 0;
  background-color: #007fff;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  color: #fff !important;
  font-weight: 500;
}

#s2-mini-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 28%);
  color: #63646f;
  font-size: 14px;
}

#s2-mini-card-body {
  padding: 15px 25px;
}

@media only screen and (max-width: 750px) {
  .s2-card {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: auto;
    width: 100%;
    min-height: 100px;
    max-height: 50vh;
    border-radius: 0px;
  }
}
